.pull-right {
    float: right;
}

#report {
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.row {
    background: #fff;
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
#yesterday.row {
    border-left: 6px solid lightblue;
}
#today.row {
    border-left: 6px solid lightgreen;
}
#problem.row {
    border-left: 6px solid lightcoral;
}

.avatar {
    border-radius: 50%;
    margin-right: 0.5em;
}

#searchMembers {
    background-image: url('/images/searchicon.png');
    background-position: 0.6em 0.6em;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 1em;
}

#membersList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.memberRow {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
}

.memberRow:hover:not(.header) {
    background-color: #eee;
}

#team-info {
    margin: 0.5em 0.5em 0 0.5em;
    background-color: #eee;
}

#team-info .avatar {
    padding-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#team-info h4{
    padding-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

.flash {
    display: block;
    text-align: center;
    font-weight: normal;
    padding: 0.77778rem 1.33333rem 0.77778rem 0.77778rem;
    position: relative;
    transition: opacity 300ms ease-out;
}

.alert .error {
    background-color: #f04124;
    color: #FFFFFF;
}

.alert .info {
    background-color: #a0d3e8;
    color: #4f4f4f;
}

.alert .success {
    background-color: #43AC6A;
    color: #FFFFFF;
}
