!!! 5
%html
  %head
    = haml(:_header, :locals => {'title' => 'Standbot'})

  %body
    .header
      %h2
        &num;aura sin standup-bot

    .content
      %ul
        - Standup.dates(10).each do |standup|
          %li
            %a{href: "/standup/#{standup.created_at.to_date}"}
              = standup.created_at.to_date
        
