%title
  = locals['title']
%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
%link{:crossorigin => "anonymous", :href => "https://unpkg.com/purecss@1.0.0/build/pure-min.css", :integrity => "sha384-", :rel => "stylesheet"}/
%link{:href => "https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css", :rel => "stylesheet"}/
%link{:href => "/stylesheet.css", :rel => "stylesheet"}/
%link{:href => "/side-menu.css", :rel => "stylesheet"}/
