%a#menuLink.menu-link{:href => "#menu"}
  / Hamburger icon
  %span
#menu
  .pure-menu
    %a.pure-menu-heading{:href => "/"} Standbot
    %ul.pure-menu-list
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/team/new"} Nytt team
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/"} Teams
