!!! 5
%html
  %head
    = haml(:_header, locals: {'title' => 'Standbot'})

  %body
    #layout
      = haml(:_menu)

      #main
        #alert
          = styled_flash

        = yield

    %script{src: "/ui.js"}
