.header
  %h1 Nytt team
  %h2 Bli en del av stand-up regimet

.content
  %h2.content-subhead Bli med
  %p
    Fyll ut skjemaet nedenfor, legg til medlemmer i neste skjermbildet, og ditt team vil få ha en digital stand-up
    hver dag klokken 09.00. Ta kontakt med @kyrre.havik.eriksen på Slack hvis dere ønsker et annet tidspunkt.

  %p
    Det er også mulig for hvert team å få en oppsummering av stand-upen rapportert til team-kanalen. Da må man fylle
    ut "slack-kanal" og huke av for "Daglig oppsumering". Er kanalen privat, må dere invitere @The Daily Reporter
    til kanalen, for at den skal kunne gi dere en oppsumering. Oppsummeringen vil alltid være en time etter selve stand-up'en.

  %p
    Hvis ønskelig kan man også ha en daglig påminnelse om stand-up. Denne vil bli sendt ut 30 minutter etter stand-up til de medlemmene som fortsatt ikke har svart. Huk av for "Daglig påminnelse", hvis man ønsker dette.

  = haml(:'team/_form', locals: { team: team, action: '/team/create'})
