body {
    padding: 1.5em;
    background: #eee;
}

.header {
    padding-left: 1em;
    padding-right: 1em;
}

.pull-right {
    aligne: right;
}

.column {
    padding: 1em;
    width: 30em;
}

.row {
    background: #fff;
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
#yesterday.row {
    border-left: 6px solid lightblue;
}
#today.row {
    border-left: 6px solid lightgreen;
}
#problem.row {
    border-left: 6px solid lightcoral;
}

.avatar {
    border-radius: 50%;
    margin-right: 0.5em;
}
