.pure-g
  .pure-u
    %h4{style: "margin: 0;"}
      = date

- if report.yesterday
  .row#yesterday
    %strong I går:
    :escaped
      #{report.yesterday}

- if report.today
  .row#today
    %strong I dag:
    :escaped
      #{report.today}

- if report.problem
  .row#problem
    %strong Problem(er):
    :escaped
      #{report.problem}
