%br
%h3
  Har ikke rapportert

- team.members.each do |member|
  - unless standup&.members&.include?(member)
    .pure-u.relative
      %img.avatar.desaturate{width: '64', height: '64', alt: "#{member.full_name}'s avatar", src: member.avatar_url}
      .center.white
        ?
